.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/matrix.gif);
}

.signup-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1.5%;
    padding-bottom: 4%;
    background-color: black;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 3px;
    border-style: double;
    border-width: 10px;
    border-color: rgb(57, 255, 20);
    animation: blink 1.05s;
    animation-iteration-count: infinite;
}
@keyframes blink { 50% { border-color:rgb(57, 120, 20); }  }

.sigup-header{
    text-align: center;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(57, 255, 20);
}

.signup-subbox {
    vertical-align: middle;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10% 0%;
}

.input-authen {
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    width:90%;
    margin-left: 6%;
    padding: 2%;
    color: rgb(57, 255, 20);
    background-color: black;
    caret-color:rgb(57, 255, 20);
    border: 1px solid rgb(57, 255, 20);
}

.input-authen:focus{
    outline: none;
}

.signup-btn:focus{
    outline-color:rgb(57, 120, 20);
}

.label {
    text-align:center;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
    /* font-weight: bold; */
    padding: 2%;
    color: rgb(57, 255, 20);
}

.signup-btn {
    width: 30%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    /* font-weight: bold; */
    text-align: center;
    color: rgb(57, 255, 20);
    background-color: black;
    border: 4px double rgb(57, 255, 20);
}

.signup-btn-subbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(57, 255, 20,0.3);
}